<template>
  <div class="project" v-if="info">
    <img class="preview" v-if="info.image" :src="name + '/project-info/' + info.image"/>
    <div class="project-text">
      <p>
        <a
          class="project-title"
          :href="this.info.main || this.info.urls['main'] || this.info.urls['gitlab'] || this.info.urls['github']"
        >
          {{ info.name }}
        </a>
        by
        <a :href="info.developer.www">
          {{ info.developer.name }}
        </a>
      </p>
      <p class="project-description">
        {{ info.description }}
      </p>
    </div>
    <div class="links">
      <MainIcon
        v-if="info.main || (info.urls && info.urls.main)"
        :url="info.main ? info.main : info.urls && info.urls.main ? info.urls.main : ''"
      />
      <GitLabIcon
        v-if="info.urls && info.urls.gitlab"
        :url="info.urls.gitlab ? info.urls.gitlab : ''"
      />
      <GitHubIcon
        v-if="info.urls && info.urls.github"
        :url="info.urls.github ? info.urls.github : ''"
      />
    </div>
  </div>
</template>

<script lang="ts">
  import axios from 'axios'
  import { Component, Prop, Vue } from 'vue-property-decorator'
  import GitHubIcon from '@/components/icons/urls/GitHubIcon.vue'
  import GitLabIcon from '@/components/icons/urls/GitLabIcon.vue'
  import MainIcon from '@/components/icons/urls/MainIcon.vue'

  @Component({
    components: {
      GitHubIcon,
      GitLabIcon,
      MainIcon
    }
  })
  export default class ProjectCard extends Vue {
    @Prop(String) readonly name!: string

    info: { 'main'?: string, 'name': string, 'description': string, 'image': string, 'developer': { 'name': string, 'www': string }, 'urls'?: { 'main'?: string, 'gitlab'?: string, 'github'?: string } } | undefined
    errors: object[] = []

    data () {
      return {
        info: undefined
      }
    }

    async created () {
      try {
        const response = await axios.get(this.name + '/project-info/info.json')
        this.info = response.data
      } catch (e) {
        this.errors.push(e)
        this.info = undefined
      }
    }
  }
</script>

<style scoped>
  .project {
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 10px 10px 10px;
    padding: 10px;
    min-width: 350px;
    max-width: 450px;
    background: var(--card-background);
    color: var(--card-color);
    border-radius: 6px;
    animation: fadein 2s;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .preview {
    border-radius: 6px;
    position: relative;
    top: -30px;
    align-self: center;
    width: auto;
    height: 175px;
    border: 1px var(--image-border) solid;
  }

  .project-text {
    width: 95%;
    align-self: center;
    margin-top: -25px;
    height: 110px;
  }

  a {
    color: var(--card-hyperlink);
    text-decoration: none;
  }

  .project-title {
    font-size: larger;
  }

  .project-description {
    margin-left: 20px;
  }

  .links {
    display: flex;
    width: 95%;
    align-self: center;
  }
</style>
