<template>
    <div class="project-list">
      <ul v-if="errors && errors.length">
        <li v-for="(error, index) in errors" :key="index">
          {{ error.message }}
        </li>
      </ul>
      <ProjectCard
        v-for="(project, index) in projects"
        :key="index"
        :name="project"
      />
    </div>
</template>

<script lang="ts">
import axios from 'axios'
import ProjectCard from '@/components/ProjectCard.vue'
import { Component, Vue } from 'vue-property-decorator'

@Component({
  components: {
    ProjectCard
  }
})
export default class ProjectList extends Vue {
  projects: object[] = []
  errors: object[] = []

  async created () {
    try {
      const response = await axios.get('/projects.json')
      this.projects = response.data.projects
    } catch (e) {
      this.errors.push(e)
    }
  }
}
</script>

<style scoped>
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
