<template>
  <div>
    <a :href="url">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5.18731,7 L4.04666,4.36937 L2.00626,9.3195 L8.0002,13.7511 L13.9959,9.31948 L11.9539,4.36817 L10.8127,7 L5.18731,7 Z M11.5298,0.318914 C11.7055,-0.0864834 12.2823,-0.0813023 12.4507,0.327188 L15.8449,8.55694 C16.1947,9.4051 15.9225,10.3825 15.1847,10.9278 L8.5945,15.7989 C8.24121,16.06 7.75886,16.06 7.40561,15.7988 L0.817247,10.9277 C0.0797242,10.3824 -0.192356,9.40532 0.157182,8.55733 L3.54941,0.327579 C3.71782,-0.0809883 4.29461,-0.0862265 4.47042,0.319215 L6.50002,5 L9.50002,5 L11.5298,0.318914 Z"/>
      </svg>
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class GitLabIcon extends Vue {
  @Prop(String) readonly url!: string
}
</script>

<style scoped>
  div {
    height: 30px;
    width: 30px;
  }

  svg {
    fill: var(--card-color);
    height: 20px;
    width: 20px;
  }
</style>
