* {
    --fiord: #46536D; /* Dark Shades */
    --matrix: #B56469; /* Dark Accent */
    --apricot: #EC8F5F; /* Main Brand Color */
    --tumbleweed: #E0A186; /* Light Accent */
    --snow-drift: #F4F7F4; /* Light Shades */

    --main-background: var(--snow-drift);
    --main-color: var(--fiord);
    --card-background: var(--fiord);
    --card-color: var(--snow-drift);
    --card-hyperlink: var(--apricot);
    --image-border: var(--fiord);
}

body {
    background: var(--snow-drift);
}

@media (prefers-color-scheme: dark) {
    * {
        --main-background: var(--fiord);
        --main-color: var(--snow-drift);
        --card-background: var(--snow-drift);
        --card-color: var(--fiord);
        --card-hyperlink: var(--apricot);
        --image-border: var(--fiord);
    }

    body {
        background: var(--fiord);
    }
}
