<template>
    <div id="app">
        <p class="welcome-msg">Welcome to BytePen Projects! You can find projects that I have either created myself or taken part in the creation of below. Rarely, I will also have links to projects I just think are awesome and wanted to host myself.</p>
        <ProjectList/>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import ProjectList from './components/ProjectList.vue'

@Component({
  components: {
    ProjectList
  }
})
export default class App extends Vue {}
</script>

<style>
  @import './assets/style.css';
  #app {
    background: var(--main-background);
    color: var(--main-color);
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .welcome-msg {
    width: 85%;
    text-align: center;
  }
</style>
